$color-primary: #2a364d;
$color-secondary: #1b263b;

$color-background:  #0c1020;
$color-header: #343a40;

$color-text: #ffffffe6;
$color-header-text: #b9c1c3;
$color-active: #1e78c8;

$font: 'Roboto', Helvetica, Arial, sans-serif;
